.collection-content {
    background-color: $color-white;
    text-decoration: none;
    display: block;

    img {
        width: 100%;
        height: auto;
    }

    .body {
        color: $color-dark-2;
        font-family: $font-poppins;
        padding: 10px;

        .title {
            grid-area: title;
            font-size: 18px;
            font-family: $font-poppins;
            font-weight: $font-weight-medium;
        }

        .info {
            font-family: $font-poppins;
            padding: 2px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;

            .price {
                grid-area: price;
                font-size: 16px;
                align-items: center;
            }

            .add-cart {
                grid-area: cart;
                text-align: right;
                align-items: center;
                padding: 2px;
                font-size: 24px;
                color: $color-dark-2;
    
                &:hover {
                    color: $color-dark-4;
                }
            }
        }


    }

    &:hover {
        text-decoration: none;
    }

    @include xl {
        .add-cart {
            display: none;
        }

        &:hover {
            .add-cart {
                display: block;
            }
        }
    }
}