.collection-grid {
    .container {

    }

    .title {
        font-size: 20px;
        font-weight: $font-weight-bold;
        @include center-content;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    
    .item-collection {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr;

        @include md {
            grid-template-columns: 1fr 1fr;
        }
        @include lg {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include xxl {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .item {
            border: 1px solid black;

           .image-section {
                position: relative; 

                img {

                    width: 100%;
                    height: auto;
                }

                .menu {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    border: 1px solid red;


                    .icons {

                        .link {}
                    }

                    .btn-theme {
                        width: 100%;
                    }
                }
           }

           .body-section {
                .category {}

                .name {}
                
                .star-rating {}
                
                .price{} 
           }
        }
    }
}