@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
html, body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #636363;
}

a {
  text-decoration: none;
  color: #FA3150;
}
a:hover {
  text-decoration: underline;
  color: #FA3150;
}

button {
  padding: 10px 35px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #000000;
  background-color: transparent;
  color: #000000;
  transition: all 0.2s;
}
button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.btn-white {
  border: none;
  background-color: #FFFFFF;
  color: #292929;
  border: 1px solid #292929;
}

.btn-theme {
  border: none;
  background-color: #FA3150;
  color: #FFFFFF;
}

.hide {
  display: none;
}

header {
  padding: 15px 0;
}
@media (min-width: 992px) {
  header {
    padding: 30px 0;
  }
}
header .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "logo btn" "menu menu";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logo menu";
  }
}
header .logo {
  grid-area: logo;
}
header #menu {
  grid-area: menu;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 992px) {
  header #menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
header #menu .menu-links {
  color: #292929;
  padding-top: 30px;
}
@media (min-width: 992px) {
  header #menu .menu-links {
    padding-top: 0;
  }
}
header #menu .menu-links .link {
  color: #292929;
  display: block;
  margin: 10px 20px;
  padding: 10px;
}
@media (min-width: 992px) {
  header #menu .menu-links .link {
    display: inline-block;
    margin: 0 20px;
    padding: 0;
  }
}
header #menu .menu-links .link:hover {
  color: #FA3150;
}
header #menu .menu-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
}
@media (min-width: 992px) {
  header #menu .menu-icons {
    position: static;
    padding: 0;
  }
}
header #menu .menu-icons .link {
  color: #AEAEAE;
  margin-left: 15px;
}
header #menu .menu-icons .link:hover {
  color: #292929;
}
header .toggle {
  grid-area: btn;
  display: flex;
  justify-content: end;
}
@media (min-width: 992px) {
  header .toggle {
    display: none;
  }
}
header .toggle .btn-white {
  padding: 5px 15px;
  font-size: 1.4rem;
}

.showcase {
  background-color: #F3F2F2;
  padding: 60px 0;
}
@media (min-width: 992px) {
  .showcase {
    padding: 0px 0 60px 0;
  }
}
.showcase .container {
  display: block;
  text-align: center;
}
@media (min-width: 992px) {
  .showcase .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.showcase .content {
  font-family: "Poppins", sans-serif;
  color: #292929;
}
@media (min-width: 992px) {
  .showcase .content {
    flex: 2;
    text-align: left;
    padding-right: 20px;
  }
}
@media (min-width: 1200px) {
  .showcase .content {
    flex: 1;
    padding-right: 100px;
  }
}
.showcase .content .ingress {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.showcase .content .title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .showcase .content .title {
    font-size: 60px;
    margin-bottom: 50px;
  }
}
.showcase .content-image {
  display: none;
}
@media (min-width: 992px) {
  .showcase .content-image {
    flex: 1;
    display: block;
  }
}
.showcase img {
  width: 100%;
  height: auto;
}

.collection {
  padding: 40px 0;
}
.collection .collection-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: #292929;
}
@media (min-width: 768px) {
  .collection .collection-title {
    font-size: 48px;
  }
}
.collection .categories {
  display: none;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .collection .categories {
    display: flex;
  }
}
.collection .categories .category-item {
  margin-right: 5px;
}
.collection .categories .category-item + li::before {
  content: "/";
  margin-right: 5px;
}
.collection .collection-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}
@media (min-width: 768px) {
  .collection .collection-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .collection .collection-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .collection .collection-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.collection .load-more {
  margin-top: 40px;
  text-align: center;
}

.collection-item {
  background-color: #FFFFFF;
  text-decoration: none;
  display: block;
}
.collection-item img {
  width: 100%;
  height: auto;
}
.collection-item .body {
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: #292929;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  padding: 0 10px 10px 10px;
}
.collection-item .body .info {
  padding: 2px;
}
.collection-item .body .info .title {
  font-size: 18px;
  font-weight: 500;
}
.collection-item .body .info .price {
  font-size: 16px;
}
.collection-item .body .tocart {
  padding: 2px;
  font-size: 24px;
  color: #292929;
}
.collection-item .body .tocart:hover {
  color: #AEAEAE;
}
.collection-item:hover {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .collection-item .tocart {
    display: none;
  }
  .collection-item:hover .tocart {
    display: block;
  }
}

.up-to-sell {
  background-color: #FAEFEF;
  padding: 40px 0;
}
.up-to-sell .collection-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}
@media (min-width: 768px) {
  .up-to-sell .collection-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .up-to-sell .collection-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.up-to-sell .collection-grid .collection-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.up-to-sell .collection-grid .collection-content .container {
  text-align: center;
  padding: 40px;
}
.up-to-sell .collection-grid .collection-content .title-red {
  font-family: "Poppins", sans-serif;
  color: #FA3150;
  font-size: 18px;
  font-weight: 700;
}
.up-to-sell .collection-grid .collection-content .title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48px;
  color: #292929;
}
.up-to-sell .collection-grid .collection-content .ingress {
  font-family: "Poppins", sans-serif;
  color: #292929;
  font-size: 24px;
  font-weight: 700;
}
.up-to-sell .collection-grid .collection-content .text {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  color: #636363;
  font-size: 16px;
  font-weight: 400;
}
.up-to-sell .collection-grid .collection-content .link {
  display: block;
  margin-top: 30px;
  color: #292929;
}

.top-selling .container-fluid {
  padding-left: 4rem;
  padding-right: 4rem;
}
.top-selling .collection-title {
  font-size: 30px;
}
.top-selling .collection-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}
@media (min-width: 768px) {
  .top-selling .collection-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .top-selling .collection-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .top-selling .collection-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}
.top-selling .collection-grid .collection-item .body {
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: #292929;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  padding: 0 10px 10px 10px;
}
.top-selling .collection-grid .collection-item .body .info {
  padding: 2px;
}
.top-selling .collection-grid .collection-item .body .info .title {
  font-size: 16px;
  font-weight: 500;
}
.top-selling .collection-grid .collection-item .body .info .price {
  font-size: 12px;
}
.top-selling .collection-grid .collection-item .body .tocart {
  padding: 2px;
  font-size: 12px;
  color: #292929;
}
.top-selling .collection-grid .collection-item .body .tocart:hover {
  color: #AEAEAE;
}
.top-selling .load-more {
  margin-top: 40px;
  text-align: center;
}
.top-selling .load-more button {
  padding: 5px 10px;
}

.newsletter {
  background-color: #CCCCCC;
}
.newsletter .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter .container form {
  display: block;
  width: 100%;
  background-color: #FFFFFF;
  margin: 50px;
  padding: 20px;
}

footer {
  background-color: #292929;
}
footer .container {
  display: flex;
  justify-content: center;
}
footer .copyright {
  margin: 30px 0;
  color: #AEAEAE;
}