@model NewsletterForm

<section class="newsletter">
    <div class="container">
        <form method="post" asp-action="RegisterNewsletter" asp-controller="Contacts">
            <input asp-for="Email" placeholder="subscribe mail here..." maxlength="64">
            <button class="btn-theme btn-rounded"><i class="fa-sharp fa-solid fa-paper-plane fa-beat"></i></button>
        </form>
    </div>
</section>