<section class="newsletter">
    <div class="container">
        <form>
            <input type="text" placeholder="Enter your mail here" maxlength="64">
            <button class="btn-theme btn-rounded">SUBSCRIBE FOR NEWSLETTER</button>
        </form>
    </div>
</section>