<section class="showcase">
    <div class="container">
        <div class="content">
            <div class="ingress">WELCOME TO BMERKETO SHOP</div>
            <div class="title">Exclusive Chair gold Collection.</div>
            <button class="btn-theme">SHOP NOW</button>
        </div>
        <div class="content-image">
            <img src="images/placeholders/625x647.svg" alt="">
        </div>
    </div>
</section>