@model IEnumerable<CollectionItem>

<section class="top-selling">
    <div class="container-fluid">
        <h1 class="collection-title">Top selling products in this week</h1>
        <div class="collection-grid">

            @if(Model != null)
            {
                @foreach (var item in Model)
                {
                    <partial name="/Views/Partials/Components/_CollectionItem.cshtml" model="item" />
                }
            }

        </div>
        <div class="load-more">
            <button class="btn-outline-white me-1"><i class="fa-solid fa-chevron-left"></i></button>
            <button class="btn-outline-white ms-1"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </div>
</section>