@model LoginViewModel

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <form method="post" class="col-10">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="mb-3">
                <input asp-for="Email" class="form-control" type="email" placeholder="Email" />
            </div>
            <div class="mb-3">
                <input asp-for="Password" class="form-control" type="password" placeholder="Password" />
            </div>

            <div class="mt-5">
                <div class="d-grid">
                    <button class="btn btn-success">LOGIN</button>
                </div>
            </div>
        </form>
    </div>
</div>