<!-- footer start -->
<footer>
    <div class="container">
        <div class="copyright">
            © @DateTime.Now.Year bmarketo.  All right reserved.
        </div>
    </div>
</footer>
<!-- footer end -->