<!-- header start -->
<header>
    <div class="container">
        <img class="logo" src="images/logo.svg" alt="">

        <div id="menu" class="hide">
            <nav class="menu-links">
                <a class="link" asp-controller="Home" asp-action="Index">HOME</a>
                <a class="link" asp-controller="Products" asp-action="Index">PRODUCTS</a>
                <a class="link" asp-controller="Contacts" asp-action="Index">CONTACT</a>
            </nav>
            <nav class="menu-icons">
                <a class="link" asp-controller="Products" asp-action="Search"><i class="fa-regular fa-search"></i></a>
                <a class="link" asp-controller="Account" asp-action="Index">Login</a>
                <a class="link" asp-controller="Shopping" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>
            </nav>
        </div>

        <div class="toggle">
            <button class="btn-white" data-option="toggle" data-target="#menu"><i class="fa-regular fa-bars"></i></button>
        </div>

    </div>
</header>
<!-- header end -->