<header>
    <div class="container">
        <a id="logotype" href="/">Fixxo.</a>

        <div id="menu" class="">
            <nav class="menu-links links">
                <a class="link" href="/">Home</a>
                <a class="link" href="/products">Products</a>
                <a class="link" href="/contacts">Contacts</a>
            </nav>

            <nav class="menu-icons icons">
                <a class="link" href="/search"><i class="fa-regular fa-search"></i></a>
                <a class="link" href="/compare"><i class="fa-regular fa-code-compare"></i></a>
                <a class="link" href="/favorites"><i class="fa-regular fa-heart"></i></a>
                <a class="link" href="/cart"><i class="fa-regular fa-bag-shopping"></i></a>
                <a class="link ms-5" href="/account"><i class="fa-regular fa-user"></i></a>
            </nav>
        </div>

        <div id="toggle-icon" class="icons">
            <button class="link"><i class="fa-regular fa-bars"></i></button>
        </div>
    </div>
</header>