.offer-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "offer";
    gap: 1rem;
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 1920px;
    align-items: stretch;


    @include lg {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:    "offer office"
                                "offer party";
        
    }
    @include xl {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "office offer party";
    }

    img {
        height: auto;
        width: 100%;
    }

    #office-style {
        grid-area: office;
        display: none;

        @include lg {
            display: block;
        }
    }

    #party-style {
        grid-area: party;
        display: none;

        @include lg {
            display: block;
        }
    }

    .offer {
        grid-area: offer;
        background-color: $color-light-2;
        padding: 20px;
    
        .red-border {
            border: 6px solid $color-theme;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .content {
            text-align: center;
            height: auto;

            h1 {
                font-family: $font-poppins;
                font-weight: $font-weight-medium;
            }
            
            button {
                margin-top: 20px;
            }
        }
    }

    
}