$color-white: #FFFFFF;

$color-theme-1: #FA3150;
$color-theme-2: #FAEFEF;
$color-theme-3: #F3F2F2;

$color-dark-1: #000000;
$color-dark-2: #292929;
$color-dark-3: #636363;
$color-dark-4: #AEAEAE;
$color-dark-5: #CCCCCC;


$color-yellow: #F9C936;
$color-green: #92B8B9;

