@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap');

$font-poppins: 'Poppins', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-playfair: 'Playfair Display', serif;

$font-weight-light : 300;
$font-weight-regular : 400;
$font-weight-medium : 500;
$font-weight-semibold : 600;
$font-weight-bold : 700;
$font-weight-black : 900;

