@model UserRegistrationForm

<div class="container mt-5">

    <form method="post">
        
        <div class="mb-3">
            <label>First Name</label>
            <input asp-for="FirstName" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Last Name</label>
            <input asp-for="LastName" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
        </div>
    
        <button type="submit" class="btn btn-secondary">SUBMIT</button>
    </form>

</div>
