footer {
    background-color: $color-dark-2;

    .container {
        display: flex;
        justify-content: center;
    }

    .copyright {
        margin: 30px 0;
        color: $color-dark-4;
    }
}