.newsletter {
    background-color: $color-dark-5;


    .container {
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            display: block;
            width: 100%;
            background-color: $color-white;
            margin: 50px;
            padding: 20px;
        }
    }
}