$color-white: #FFFFFF;

$color-theme-1: #FA3150;
$color-theme-2: #FAEFEF;
$color-theme-3: #F3F2F2;
$color-theme-4: #FAFAFA;

$color-dark-0: #000000;
$color-dark-1: #202020;
$color-dark-2: #292929;
$color-dark-3: #636363;
$color-dark-4: #AEAEAE;
$color-dark-5: #E1E1E1;

$color-yellow: #F9C936;
$color-green: #92B8B9;