@model CollectionItem 

<a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id" class="collection-item">
    <img src="@Model.ImageUrl" alt="@Model.Title">
    <div class="body">
        <div class="title">@Model.Title</div>
        <div class="info">
            <div class="price">$@Model.Price</div>
            <i class="add-cart fa-regular fa-cart-plus"></i>
        </div>
    </div>
</a>