@model InstanceService
@{
    var _service = new InstanceService();
}

<div class="mb-4">
    <div><strong>Model:</strong></div>
    <div>@Model.GetId()</div>
</div>

<div class="mb-4">
    <div><strong>Instance:</strong></div>
    <div>@_service.GetId()</div>
</div>

<div class="mt-4">
    <partial name="/Views/Partials/_Instance.cshtml" model="Model" />
</div>