@model ScopedService
@inject ScopedService _service

<div class="mb-4">
    <div><strong>Model:</strong></div>
    <div>@Model.GetId()</div>
</div>

<div class="mb-4">
    <div><strong>Inject:</strong></div>
    <div>@_service.GetId()</div>
</div>

<div class="mt-4">
    <partial name="/Views/Partials/_Scoped.cshtml" model="Model" />
</div>