$font-poppins: 'Poppins', sans-serif;
$font-lineheight-small: 1;
$font-lineheight-standard: 1.5;

$font-size-standard: 16px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-xxxl: 1920px;

$minmaxwidth-md: 720px;
$minmaxwidth-lg: 960px;
$minmaxwidth-xl: 1140px;
$minmaxwidth-xxl: 1320px;
$minmaxwidth-xxxl: 1680px;

$color-theme: #ff7373;

$color-dark-1: #000000;
$color-dark-2: #222529;
$color-dark-3: #616365;

$color-light-1: #ffffff;
$color-light-2: #f5f5f5;
$color-light-3: #f3f3f3;

$color-shadow-1: rgba(0,0,0, 0.10);
$color-shadow-2: rgba(112,112,112, 0.4);

$color-transparent-light-1: rgba(255, 255,255, 0.98);

